.header{
    padding: 10px 0;
}

.header nav a{
    margin: 0 30px;
    color: #aca1a1;
}

.header nav{
    display: inline-block;
}

.header nav a:first-child{
    margin: 0;
}

.header a.button:first-child{
    margin-left: 20px;
}

.header a.button{
    color: white;
}

.header a.button{
    margin: 0;
    margin-left: 10px;
}





