.header{
    background: white;
    height: 91px;
}

.header nav a{
    color: #aca1a1;
}

.header nav li{
    display: inline-block;
    margin-left: 40px;
}

.header.agent-header nav li:last-child{
    margin-left: 10px;
}

.header nav li:first-child{
    margin: 0;
}

.header a.button{
    color: white;
}

.header a.button:hover, .header a.button:focus{
    background: #18adf1 !important;
}






