.header{
    padding: 10px 0;
}

.header nav a{
    color: #aca1a1;
}

.header nav li{
    display: inline-block;
    margin-left: 40px;
}

.header.agent-header nav li:last-child{
    margin-left: 10px;
}

.header nav li:first-child{
    margin: 0;
}

.header a.button{
    color: white;
}






